{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero Start -->
    <div class="container-fluid btn-light py-5 mb-5 hero-header">
      <div class="container py-5">
          <div class="row justify-content-start">
              <div class="col-lg-8 text-center text-lg-start">
                  <h5 class="d-inline-block text-uppercase text-uppercase border-bottom border-5" style="border-color: rgba(0, 0, 0, 0.97) !important;">Xush Kelibsiz Cushingga</h5>
                  <h1 class="display-1 text-decoration-none mb-md-4" >To'siqlarni sindirib, sog’lom hayot uchun birga kurashamiz!</h1>
                  <div class="pt-2">
                      <a href="" class="btn btn-primary rounded-pill py-md-3 px-md-5 mx-2">Natijani sinash</a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <!-- Rasmni quyish uchun rasmingizning manzili va hajmi kerak -->
                  <br>
                  <img src="{% static 'image/image 1.jpg' %}" alt="rasm" class="img-fluid" style="height: 60vh; width: 100%;">
              </div>
          </div>
      </div>
  </div>
  
    <!-- Hero End -->



    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-6">Bizing Xizmatlar</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <img src="{% static 'image/Frame (1).svg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Dori-darmonlar</h4>
                        <p class="m-0">Dori-darmonlaringizni aniq bilishingiz, sizga qanday yordam berishini aniq bilish</p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <img src="{% static 'image/Frame (2).svg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Konsultatsiya</h4>
                        <p class="m-0">Ishonchli shifokorlarimiz bilan bepul maslahatlashing va eng yaxshi tavsiyalarni oling</p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <img src="{% static 'image/Frame (3).svg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Tafsilotlarlar</h4>
                        <p class="m-0">Ishonchli shifokorlarimiz bilan bepul maslahatlashing va eng yaxshi tavsiyalarni oling</p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <img src="{% static 'image/Frame (4).svg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Tibbiy yordam</h4>
                        <p class="m-0">Siz o'zingiz yoki farzandlaringiz va yaqinlaringiz uchun 24/7  yordam olishingiz mumkin</p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <img src="{% static 'image/Frame (5).svg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Kuzatuv </h4>
                        <p class="m-0">Tibbiy maʼlumotlarni kuzatib borish va doimiy tahlil nazorati, kuzatuvidan foydalaning</p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-4">
                            <img src="{% static 'image/Frame.svg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Shifokorni qidirish</h4>
                        <p class="m-0">Yaxshi mutaxassis, umumiy va ishonchli shifokoringizni tanlash</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Appointment Start -->
    <div class="container-fluid bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="text-white text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-6">Kushing sindromining sabablari</h1>
            </div>
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="{% static 'image/image 2.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Kushing haqida</h5>
                        <h1 class="display-4 text-white">Kushing sindromi: alomatlari, sabablari, davolash usullari</h1>
                    </div>
                    <p class="text-white">(Itsenko – Kushing sindromi, giperkortitsizm) – buyrak usti bezi gormonlarini (kortizol, kortikosteron) organizmga uzoq muddat surunkali taʼsiri. 

                        Cushing kasalligi - bu Kushing sindromining keng tarqalgan sababi bo'lib, u gipofizning ortiqcha ACTH ni chiqarib tashlagach, qo'shimcha kortizolni keltirib chiqaradi. Bu gipofiz shishi yoki boshqa o'sish natijasida yuzaga kelishi mumkin.</p>

                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


    <!-- Pricing Plan Start -->
    <div class="container-fluid py-5 ">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-6">Endokrinologiya yangiliklari</h1>
                <p>Endokrinologiya yangiliklaridan bohabar bo'ling, o'zingiz va yaqin kishilaringiz sog'lom hayotini birga kuzating.</p>
            </div>
            <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="{% static 'image/price-2.jpg' %}" alt="">
                    </div>
                    <div class="text-center py-5">
                        <h4 class="mb-3">Faster ways to reach your customers and their needs.</h4>
                        <p class="m-0">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital divide.</p>

                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Batafsil</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="{% static 'image/price-2.jpg' %}" alt="">
                    </div>
                    <div class="text-center py-5">
                        <h4 class="mb-3">Faster ways to reach your customers and their needs.</h4>
                        <p class="m-0">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital divide.</p>

                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Batafsil</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="{% static 'image/price-2.jpg' %}" alt="">
                    </div>
                    <div class="text-center py-5">
                        <h4 class="mb-3">Faster ways to reach your customers and their needs.</h4>
                        <p class="m-0">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital divide.</p>

                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Batafsil</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="{% static 'image/price-2.jpg' %}" alt="">
                    </div>
                    <div class="text-center py-5">
                        <h4 class="mb-3">Faster ways to reach your customers and their needs.</h4>
                        <p class="m-0">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital divide.</p>

                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Batafsil</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan End -->


    


    <!-- Search Start -->
    <div class="container-fluid bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Murojat</h5>
                <h4 class="mb-6 text-white text-center">Agar sizga Endokrinologiya bo'yicha yoki kushing sindromi kasalligi bo'yicha ma'lumot kerak bo'lsa, telefon raqamingizni qoldiring!</h4>
            </div>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-primary w-50" placeholder="Telfon nomer">
                    <button class="btn btn-dark border-0 w-25">junatish</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search End -->

    
{% endblock %}