{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'image/image 2.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">1 - bob</h5>
                    <h1 class="display-4">Kushing sindromi: alomatlari, sabablari, davolash usullari</h1>
                </div>
                <p>(Itsenko – Kushing sindromi, giperkortitsizm) – buyrak usti bezi gormonlarini (kortizol, kortikosteron) organizmga uzoq muddat surunkali taʼsiri. Cushing kasalligi - bu Kushing sindromining keng tarqalgan sababi bo'lib, u gipofizning ortiqcha ACTH ni chiqarib tashlagach, qo'shimcha kortizolni keltirib chiqaradi. Bu gipofiz shishi yoki boshqa o'sish natijasida yuzaga kelishi mumkin.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'image/image 2.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">2 - bob</h5>
                    <h1 class="display-4">Kushing sindromi: alomatlari, sabablari, davolash usullari</h1>
                </div>
                <p>(Itsenko – Kushing sindromi, giperkortitsizm) – buyrak usti bezi gormonlarini (kortizol, kortikosteron) organizmga uzoq muddat surunkali taʼsiri. Cushing kasalligi - bu Kushing sindromining keng tarqalgan sababi bo'lib, u gipofizning ortiqcha ACTH ni chiqarib tashlagach, qo'shimcha kortizolni keltirib chiqaradi. Bu gipofiz shishi yoki boshqa o'sish natijasida yuzaga kelishi mumkin.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'image/image 2.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">3 - bob</h5>
                    <h1 class="display-4">Kushing sindromi: alomatlari, sabablari, davolash usullari</h1>
                </div>
                <p>(Itsenko – Kushing sindromi, giperkortitsizm) – buyrak usti bezi gormonlarini (kortizol, kortikosteron) organizmga uzoq muddat surunkali taʼsiri. Cushing kasalligi - bu Kushing sindromining keng tarqalgan sababi bo'lib, u gipofizning ortiqcha ACTH ni chiqarib tashlagach, qo'shimcha kortizolni keltirib chiqaradi. Bu gipofiz shishi yoki boshqa o'sish natijasida yuzaga kelishi mumkin.</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
    
{% endblock %}